/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************************************************/

html {
  font: 16px/1.5 Helvetica,Arial,sans-serif;
}

h2 {
  font-size: 1.25em;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 5px #2e4a58;
}

small {
  font-size: 0.75em;
}

.page-header {
  background-color: rgba(137, 156, 164, 0.8);
  color: white;
  padding: 0.5em;
  position: relative;
  z-index: 1;
}

.page-header h1 {
  font-size: 2em;
  text-align: center;
}

.page-header ul.main-menu {
  text-align: right;
  float: left;
  margin-top: -1.875em;
}

.page-header ul.main-menu .menu {
  width: 40px;
  height: 4px;
  margin: 4px;
  background: white;
  -webkit-box-shadow: 1px 1px 5px #051125;
  box-shadow: 1px 1px 5px #051125;
}

.page-header ul.main-menu .submenu {
  position: absolute;
  z-index: 100;
  background-color: white;
  color: black;
  margin: 1em 0;
  max-height: 300px;
  overflow-y: scroll;
  -webkit-box-shadow: 0 0 2px #112c43;
  box-shadow: 0 0 2px #112c43;
}

.page-header ul.main-menu .cat_title {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  padding: 0.5em 0;
  background-color: rgba(137, 156, 164, 0.9);
  color: white;
  text-shadow: 1px 1px 2px #404040;
}

.page-header ul.main-menu .cat {
  text-align: center;
  border-bottom: 1px solid #2e4a58;
}

.page-header ul.main-menu .cat_title + .cat {
  margin-top: 2em;
}

.page-header ul.main-menu .link_list {
  text-shadow: none;
  display: block;
  padding: 1em;
}

#wrapper {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

#wrapper .content {
  background-color: #f5f5ff;
  border-radius: 1em;
  padding: 0 0 1em 0;
  -webkit-box-shadow: 1px 1px 5px #2e4a58;
  box-shadow: 1px 1px 5px #2e4a58;
}

#wrapper header {
  background-color: #899ca4;
  border-radius: 0.5em 0.5em 0 0;
  color: white;
  font-size: 1.5em;
}

#wrapper header a {
  display: block;
  padding: 0.5em;
}

#wrapper section {
  color: #112c43;
}

#wrapper section p {
  padding: 2em;
  font-size: 1.125em;
}

.button,
.button-small {
  font-size: 1em;
  padding: 0.5em 2em;
  background-color: #6f8f47;
  border-radius: 1.5em;
  color: white;
  margin: 1em 2em;
  -webkit-box-shadow: 1px 1px 5px rgba(17, 44, 67, 0.4);
  box-shadow: 1px 1px 5px rgba(17, 44, 67, 0.4);
}

.button a,
.button-small a {
  display: block;
}

.button-small {
  padding: 0.25em 0.5em;
  margin: 1em;
}

#gmap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -99;
  background-color: rgba(255, 255, 255, 0.4);
}

#infowindow {
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
}

#infowindow .button-container {
  text-align: center;
  line-height: 50px;
}

#infowindow .firstHeading {
  font-size: 1.5em;
}

#infowindow .bodyContent {
  width: 200px;
}

#infowindow p {
  font-size: 1.125em;
}

#waiting {
  -webkit-animation: 1s infinite waiting;
  animation: 1s infinite waiting;
}

footer {
  background-color: rgba(137, 156, 164, 0.8);
}

footer .bank_container {
  display: inline-block;
  margin: 5px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px rgba(46, 74, 88, 0.5);
  box-shadow: 1px 1px 5px rgba(46, 74, 88, 0.5);
  text-align: left;
}

footer .bank_title {
  padding: 5px;
  color: white;
  text-shadow: 1px 1px 5px #2e4a58;
}

footer .bank {
  text-align: left;
  text-shadow: none;
  padding: 10px;
  display: block;
}

footer .bank small {
  margin-left: 5px;
}

footer .center {
  text-align: center;
}

@-webkit-keyframes waiting {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes waiting {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (max-width: 640px) {
  footer .bank_container {
    width: 150px;
  }

  footer .bank_container:last-child,
  footer .bank_container:nth-of-type(3),
  footer .bank_container:nth-of-type(4) {
    display: none;
  }

  #allBanks {
    margin: 0.5em auto;
    text-align: center;
  }

  .page-header {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #wrapper {
    height: 100%;
  }

  .submenu {
    bottom: 0;
  }
}

@media (min-width: 641px) {
  #allBanks {
    position: absolute;
    top: 1em;
    right: 0;
  }

  #wrapper {
    width: 50%;
    height: 50%;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer .bank {
    position: relative;
    display: inline-block;
    width: 220px;
  }

  footer .bank small {
    position: absolute;
    top: 16px;
    right: 10px;
  }
}