@function darkerColor($alpha){
   @return rgba(5,17,37,$alpha);
};

@function darkColor($alpha){
    @return rgba(17,44,67,$alpha);
};

@function mediumColor($alpha){
    @return rgba(46,74,88,$alpha);
};

@function lightColor($alpha){
    @return rgba(137,156,164,$alpha);
};

@function lighterColor($alpha){
    @return rgba(173,197,206,$alpha);
};

$green : rgb(111,143,71);
$black : rgb(64,64,64);