@import "reset";
@import "color";

html{
    font : 16px/1.5 Helvetica,Arial,sans-serif;
}
h2{
    font-size: 1.25em;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color : white;
    text-shadow : 1px 1px 5px mediumColor(1);
}
small{
    font-size: 0.75em;
}
.page-header{
    h1{
        font-size:2em; 
        text-align: center;
    }
    ul.main-menu{
        text-align: right;
        float: left;
        margin-top: -1.875em;
        .menu{
            width:40px;
            height:4px;
            margin:4px;
            background:white;
            box-shadow: 1px 1px 5px darkerColor(1);
        }
        .submenu{
            position: absolute;
            z-index:100;
            background-color: white;
            color:black;
            margin:1em 0;
            max-height: 300px;
            overflow-y: scroll;
            box-shadow: 0 0 2px darkColor(1);
        }
        .cat_title{
            position: absolute;
            top:0;
            text-align: center;
            width:100%;
            padding:0.5em 0;
            background-color:lightColor(0.9);
            color:white;
            text-shadow : 1px 1px 2px $black;
        }
        .cat{
            text-align: center;
            border-bottom:1px solid mediumColor(1);
        }
        .cat_title+.cat{
            margin-top:2em;
        }
        .link_list{
            text-shadow : none;
            display: block;
            padding:1em;
        }
    }
    background-color: lightColor(0.8);
    color:white;
    padding:0.5em;
    position: relative;
    z-index : 1;
}
#wrapper{
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
    .content{
        background-color: rgb(245,245,255);
        border-radius : 1em;
        padding : 0 0 1em 0;
        box-shadow: 1px 1px 5px mediumColor(1);
    }
    header{
        background-color : lightColor(1);
        border-radius : 0.5em 0.5em 0 0;
        color : white;
        font-size: 1.5em;
        a{
            display: block;
            padding : 0.5em;
        }
    }
    section{
        color : darkColor(1);
        p{
            padding : 2em;
            font-size : 1.125em;
        }
    }
}
.button{
    font-size : 1em;
    padding:0.5em 2em;
    background-color: $green;
    border-radius : 1.5em;
    color : white;
    margin: 1em 2em;
    box-shadow: 1px 1px 5px darkColor(0.4);
    a{
        display: block;
    }
}
.button-small{
    @extend .button;
    padding : 0.25em 0.5em;
    margin:1em;
}
#gmap{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:-100;
}
#overlay{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-99;
    background-color:rgba(255,255,255,0.4);
}
#infowindow{
    line-height: 1.5;
    overflow: hidden;
    white-space: nowrap;
    .button-container{
        text-align: center;
        line-height: 50px;
    }
   .firstHeading{
        font-size: 1.5em;
    }
    .bodyContent{
        width:200px;
    } 
    p{
        font-size: 1.125em;  
    }
}

#waiting{
    animation : 1s infinite waiting;
}
footer{
    background-color: lightColor(0.8);
    .bank_container{
        display: inline-block;
        margin:5px;
        background-color: white;
        box-shadow: 1px 1px 5px mediumColor(0.5);
        text-align: left;
    }
    .bank_title{
        padding:5px;
        color:white;
        text-shadow:1px 1px 5px mediumColor(1);
    }
    .bank{
        text-align: left;
        text-shadow : none;
        padding:10px;
        display: block;
        small{
            margin-left:5px;
        }
    }
    .center{
        text-align: center;
    }
}

@keyframes waiting {
    0%,100% {opacity: 1;}
    50% {opacity : 0;}
}

@media (max-width: 640px) {
    footer{
        .bank_container{
            width:150px;
        }
        .bank_container:last-child, .bank_container:nth-of-type(3),.bank_container:nth-of-type(4){
            display : none;
        }
    }
    #allBanks{
        margin : 0.5em auto;
        text-align: center;
    }
    .page-header{
        position: fixed;
        bottom:0;
        width:100%;
    } 
    #wrapper{
        height:100%;
    }
    .submenu{
        bottom:0;
    }
}
@media (min-width: 641px) {
    #allBanks{
        position: absolute;
        top:1em;
        right:0;
    }
    #wrapper{
        width: 50%;
        height:50%;
    }
    footer{
        position: fixed;
        bottom:0;
        width:100%;
        .bank{
            position: relative;
            display: inline-block;
            width:220px;
            small{
                position: absolute;
                top:16px;
                right:10px;
            }
        }
    }
}