
html{
    font : 16px/1.5 Helvetica,sans-serif;
}
a{
    text-decoration: none;
    color : white;
    text-shadow : 1px 1px 5px #2e4a58;
}
header h1{
    font-size:2em;
    background-color: #899ca4;
    color:white;
    padding:0.5em;
    text-align: center;
}
#wrapper{
    background-color: rgba(245,245,255,0.8);
    border-radius : 1em;
    width:33%;
    height:33%;
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    text-align: center;
}
#wrapper header{
    background-color : #899ca4;
    border-radius : 1em 1em 0 0;
    padding : 0.5em;
    color : white;
    font-size: 1.5em;
}
#gmap{
	width:100%;
	min-height:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:-100;
}
#overlay{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-99;
    background-color:rgba(255,255,255,0.2);
}